.spinner-ring {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
}
.spinner-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    margin: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: spinner-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.spinner-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.spinner-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.spinner-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes spinner-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
